
    <br>
    <!-- Main Content -->
    <div class="container">
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary" style="border-width:2px; border-color:white;">Private Colleges</a>
            <a href="#" class="btn btn-default" style="border-width:2px; border-color:white;">Public Colleges</a>
            <a href="#" class="btn btn-default" style="border-width:2px; border-color:white;">Community Colleges</a>
        </div>

        <h1 style="text-align:center;"><%= current_user.first_name %>'s Plan</h1>
        <hr>

        <div style="text-align:center;">
            <%= link_to '<div class="btn btn-primary btn-lg">Savings Crash Course</div>'.html_safe, planning_crash_course_path %>
        </div>

        <br>

        <div class="progress progress-striped active">
            <div class="progress-bar" style="width:50%"></div>
        </div>

        <div>
            <div class="col-lg-1">
                <br>
                <span class="badge">&#x2714;</span>
            </div>
            <div class="col-lg-11">              
                <h3>
                    Set Up Your 529
                </h3>
                <br>
                <div class="list-group">
                    <div class="list-group-item">
                        <p>What is a 529 Savings Plan?</p>
                        <p>The U.S. Securities and Exchange Commission defines a 529 Plan as "a tax-advantaged savings plan designed to encourage saving for future college costs." Essentially, these plans allow families to save for the college tuition of their beneficiaries. The money saved in this plan can be used on tuition, room and board, fees, books, and computers.</p>
                        <p>The home state you’ve indicated, California, offers no tax deduction on your state income tax based on contributions to your 529 Savings Plan.</p>
                        <p>This <a href="http://corporate.morningstar.com/529PlanRatingsChart2010/529AnalystRatingsChart2010.pdf" target="_blank">link</a> offers options for top-rated 529 College Savings Plans.</p>
                    </div>
                </div>  
            </div>
        </div>

        <div>
            <div class="col-lg-1">
                <br>
                <span class="badge">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="col-lg-11">
                <h3>
                    External Investments
                </h3>
                <br>
                <div class="list-group">
                    <div class="list-group-item">
                        <p>There are many other investment options that can help your money grow more quickly. Some of these are reviewed below.</p>
                        <p><b>I Savings Bonds:</b> These are a risk-free security that earn interest using both a set rate and a rate indexed with inflation. While earnings from these bonds are taxable, you can be exempted from these taxes by using the earnings for higher education. You can buy up to $10,000 of I Bonds in one calendar year.</p>
                        <p><b>Certificate of Deposit:</b> This is a signed document from a bank that prohibits the owner from withdrawing a certain sum of money without incurring a fine. Until the maturity date, the CD earns a fixed amount of interest rate.</p>
                        <p><b>Treasury Bill:</b> This is a debt obligation that is backed by the US government. These mature in less than a year, and do not use a fixed interest rate. They appreciate due to the bidding process through which they are bough, yielding profit to the owner.</p>
                        <p><b>Treasury Bond:</b> These pay a fixed interest rate once every six months, over a period of 30 years, at which point they have matured. After 30 years, the owner receives the face value of the bond.</p>
                    </div>
                </div>  
            </div>
        </div>
        &nbsp;
        <br>

        <div style="text-align:center;">
            <%= link_to '<div class="btn btn-primary btn-lg">Show me my portfolio</div>'.html_safe, planning_my_portfolio_path %>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

    </div>