<!-- Main Content -->
<div id="Home"></div>
<h1 id="title">uni<span id="orange">f</span>i</h1>
<h2 id="subtitle">You <em id="orange">can</em> afford college.</h2>

<div class="row">    
    <div style="text-align:center;">
        <!-- Sign Up Button -->
        <div class="container popover-markup" id="sign-up">
            <a class="home-buttons sign-up need-expansion trigger btn btn-primary btn-login signup-cursor top-for-sign-up" href="#">Sign Up</a>
            <div class="content hide">
                <form action="signup.php" method="post">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input class="form-control" id="signup-cursor" name="first_name" placeholder="First name" type="text"> 
                        <label for="name">Last Name</label> 
                        <input class="form-control" name=
                        "last_name" placeholder="Last name" type="text"> 
                        <label for="email">Email address:</label> <input class="form-control" name="email" placeholder="user@macalester.edu" type="text"> 
                        <label for="pwd">Password:</label>
                        <input class="form-control" id="pwd" name="password" type="password"> 
                        <label for="pwd">Reenter Password:</label> 
                        <input class="form-control" id="pwd" type="password"> <label for="termsofuse">I agree to the<a href="google.com">terms of use</a>.</label> 
                        <input name="vehicle" type="checkbox" value="agree">
                    </div>
                    <button class="btn btn-default btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div style="text-align:center;">
        <!-- Log In Button -->
        <div class="container popover-markup" id="sign-up">
            <a class="home-buttons sign-up need-expansion trigger btn btn-primary btn-login login-cursor top-for-sign-in" href="#">Log In</a>
            <div class="content hide">
                <form action="login.php" method="post">
                    <div class="form-group">
                        <label for="email">Email address:</label> 
                        <input class="form-control" name="email" placeholder="user@macalester.edu" type="text" id="login-cursor"> 
                        <label for="pwd">Password:</label> 
                        <input class="form-control" id="pwd" name="password" type="password">
                    </div><button class="btn btn-default btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

</div>

<!-- Brick Background -->
<div id="bricks" class="override-container">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<script>
    /* When Sign Up or Log In is pressed opens dropdowns*/
    $('.popover-markup>.trigger').popover({
        html: true,
        title: function() {
            return $(this).parent().find('.head').html();
        },
        content: function() {
            return $(this).parent().find('.content').html();
        },
        placement: "bottom"
    });

    /* When Sign Up is pressed, scrolls so they are the top of the page */
    $('.sign-up').click(function() {
        $('html, body').animate({
            scrollTop: $('.top-for-sign-up').offset().top
        });
        if ($(".top").hasClass("top-for-sign-up")) {
            $('.top').removeClass("top-for-sign-up");
            $('.sign-up').addClass("top-for-sign-up");
        } else {
            $('.top').addClass("top-for-sign-up");
            $('.sign-up').removeClass("top-for-sign-up");
        }
    });

    /* Put the cursor in the first box when sign up or login is clicked */
    $('.signup-cursor').click(function() {
        $('#signup-cursor').focus();
    });
    $('.login-cursor').click(function() {
        $('#login-cursor').focus();
    }); 
</script>

<style type="text/css">
/* Titles */
#title {
	font-size: 900%;
	text-align: center;
}

#subtitle {
	font-size: 300%;
	text-align: center;
	margin-bottom: 3%;
}

#about-title {
	font-size: 400%;
}

#inner-about {
	margin-right: 10%;
	margin-left: 10%;
}

#bricks {
	background-image: url(<%= asset_path('landing-brick.jpg') %>);
	background-repeat: no-repeat;
	background-size: cover;
	height: 10%;
}

.jumbotron {
	margin-top: 10%;
	background-color: white;
	width:100%;
}


#orange {
	color: orange
}

.space {
	margin-top: 5%;
}

/* Log in and Sign up */

.btn-login {
	width: 15%;
	font-size: 30pt;
}

.sign-up-extension {
    height: 300px;
    background-color: white;
}

.override-container {
    margin-left: -15vw;
    padding-left: 15vw;
    margin-right: -15vw;
    padding-right: 15vw;
}

</style>